<div class="bienvenida">
    <div class="italia">
        <img src="img/italia.jpg" alt="bandera" width="100">
    </div>
    <div>
        <h1><i>La casa napolitana</i></h1>
        <h2>La mejor cocina italiana</h2>
    </div>
    <div>
        <img src="img/pizza.png" alt="bandera" width="100">
    </div>
</div>
<div class="menu">
    <div class="info">
        <div class="carousel-track" #carouselTrack>
            <picture><img src="img/cocina.jpg" alt="cocina" width="100%" height="80%"></picture>
            <picture><img src="img/horno.jpg" alt="cocina" width="100%" height="80%"></picture>
            <picture><img src="img/cocina2.jpg" alt="cocina" width="100%" height="80%"></picture>
        </div>
    </div>
    <div class="inicio">
        <div class="div-foto1">
            <h3><i>Cocina napolitana</i></h3>
            <p><i>Elaborada en horno de leña, ideal para los amantes de la pasta y la pizza</i></p>
            <img src="img/napoles.jpg" alt="pasta" width="250">
        </div>
        <div class="menu">
            <div class="carta_reserva">
                <div class="texto">
                    <h3>Consulta nuestra carta y los platos más populares</h3><br>
                    <a class="enlace">
                        <i class="fas fa-utensils"></i>  
                        <button (click)="goToCarta()" class="btnSelected"><strong>Carta</strong></button>
                    </a>
                </div>
                <img src="img/pasta.jpg" alt="pasta" width="400">
            </div>
            <div class="carta_reserva">
                <img src="img/restaurante.jpg" alt="pasta" width="400">
                <div class="texto2">
                    <h3>Reserva y disfruta de una increíble experiencia</h3><br>
                    <a class="enlace">
                        <i class="fas fa-calendar-alt"></i>  
                        <button (click)="goToReserva()" class="btnSelected"><strong>Reserva</strong></button>
                    </a>
                </div>
            </div>
        </div>
        <div class="div-foto2">
            <h3><i>Con acento gaditano</i></h3>
            <p><i>Desde el corazón de Cádiz, con alma andaluza</i></p>
            <img src="img/cadiz.jpg" alt="pasta" width="250">
        </div>
    </div>


    <div class="info2">
       <div class="datos_home">
            <div class="datos-div">
                <i class="fas fa-map-marker-alt"></i>
                <h3 class="subtitle">Localidad: </h3>
                <p>Cádiz</p>
            </div>
            <div class="datos-div">
                <i class="fas fa-road"></i>
                <h3 class="subtitle">Dirección: </h3>
                <p>Calle Torre, nº 5</p>
            </div>
            <div class="datos-div">
                <i class="fas fa-envelope"></i>
                <h3 class="subtitle">Correo: </h3>
                <p>casanapolitana&#64;rrhh.com</p>
            </div>
            <div class="datos-div">
                <i class="fas fa-phone"></i>
                <h3 class="subtitle">Teléfono: </h3>
                <p>956223344</p>
            </div>
        </div>
        <div class="frame">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.8200386011986!2d-6.299244800000011!3d36.534335799999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd0dd160d0747419%3A0xbaeb4d5a3607d3cc!2sC.%20Torre%2C%2011003%20C%C3%A1diz!5e0!3m2!1ses!2ses!4v1765619637149!5m2!1ses!2ses" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>